<div class="container">
    <div class="card">
        <form (ngSubmit)="onSubmitForm()">
        <h1>Compose +</h1>
        <mat-form-field class="field" appearance="outline">
            <mat-label>To</mat-label>
            <input type="email" name="to"[(ngModel)]="data.to" matInput>
          </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <mat-label>From</mat-label>
            <input   type="email" name="subject" [(ngModel)]="data.subject"matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width field ">
            <mat-label>Leave a comment</mat-label>
            <textarea name ="message" [(ngModel)]="data.message" rows="10" matInput placeholder="Hey, Wassup"></textarea>
          </mat-form-field>

          <div class="text-center">
              <button type="submit" mat-raised-button color="primary">Send</button>
              <button type="reset" mat-raised-button color="accent">Reset</button>
          </div>
        </form>
        {{data| json}}
    </div>
</div>
