*{
    margin: 0;
    padding: 0;
}
body {
    background: url(bgf.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    color: white;
    position: absolute;
    top: 15%;
    left: 75%;
}
.container h1{
    font-size: 40px;
    border-bottom: solid yellow;
    margin-bottom: 25%;
    padding:13px  0;
}
.box{
    margin: 10px 0;
    width: 100%;
    border-bottom: 2px solid purple;
    }
.box input{
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border:none;
    outline: none;
    color: white;
}
.box i{
    width: 25%;
    margin-top:12px;
    padding: 0 12px;
    
}
.btn{
    color: white;
    cursor: pointer;
    margin: 10px 0;
    width: 25%;
    outline: none;
    padding: 6px;
    background: none;
}